@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Website colors */
    --primary-color: #1fb2c8;
    --secondary-color: #d75449;
    /* regular text colors */
    --text-color: #252525;
    --text-color-inverted: #fff;
    --text-color-muted: #999999;
    --bg-color: rgba(255, 251, 235);
    --nav-color: 255, 255, 255;
  }
  html[class="dark"] {
    /* Website colors */
    --primary-color: #83c9ce;
    --secondary-color: #e09794;
    /* regular text colors */
    --text-color: #fff;
    --text-color-inverted: #252525;
    --text-color-muted: #cdcdcd;
    --bg-color: rgb(37, 37, 37);
    --nav-color: 37, 37, 37;
  }
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  html {
    scroll-behavior: smooth !important;
    transition: background-color 500ms ease;
  }
  .art-blob {
    @apply isolate transform-gpu animate-blob w-48  h-48 rounded-full absolute top-24 dark:mix-blend-difference mix-blend-normal filter blur-xl;
  }
}
@layer utilities {
  .underline-offset-6 {
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-5000 {
    animation-delay: 5s;
  }
}
@layer components {
  .btn {
    @apply px-2 py-2 font-system rounded-md  inline-flex items-center justify-center shadow-md;
  }
  .btn-lg {
    @apply px-6 py-4 text-xl;
  }
  .btn-primary {
    @apply font-semibold  bg-primary hover:-translate-y-1 hover:shadow-lg transition-transform;
  }
  .bio-year {
    @apply font-bold flex-nowrap whitespace-nowrap;
  }

  .bio-section {
    @apply mb-2;
  }
}

a:hover {
  text-decoration: underline;
}
